
/* Embedded image styles from Basekamp.com */
.field-field-event-images {
    float: right;
    padding: 0 0 2em 2em;
}

/* Give list items a bit more visual space */
ul.menu li {
    margin: 0 0 0.75em;
}

/**
 * Faux book menu active appearance for all book pages.
 *
 * @see http://drupal.org/node/1063742 (menu_position)
 * @see http://drupal.org/node/835090 (context)
 */
body.node-type-book #main-menu-links li.menu-448 a {
  background: #FFF;
}

/**
 * This only displays on field display (not forms).
 * @see book-format.css for forms.
 */

.field-format-book p,
.field-format-book span.paw-small {
  color: #ccc;
  background-color: #fff;
}
.field-format-book span.paw-medium {
  color: #3B3B3B;
  background-color: #fff;
}
.field-format-book span.paw-large {
  color: #3B3B3B;
  background-color: #ed5; /*#afa*/
}
