
.paw-small {font-size: 12px;}
.paw-medium {font-size: 24px;}
.paw-large {font-size: 48px;}

.diff-deleted {background-color: #FEF5F1; text-decoration: line-through;}

/* Embedded image styles from Basekamp.com */
.field-field-event-images {
    float: right;
    padding: 0 0 2em 2em;
}

/* Give list items a bit more visual space */
ul.menu li {
    margin: 0 0 0.75em;
}

/**
 * Faux book menu active appearance for all book pages.
 *
 * @see http://drupal.org/node/1063742 (menu_position)
 * @see http://drupal.org/node/835090 (context)
 */
body.node-type-book #main-menu-links li.menu-448 a {
  background: #FFF;
}
